[submodule "lib/SD_ZH03B"]
	path = lib/SD_ZH03B
	url = git@github.com:ShaggyDog18/SD_ZH03B.git
[submodule "lib/aqi"]
	path = lib/aqi
	url = git@github.com:fardog/aqi-cpp.git
[submodule "lib/influxdb"]
	path = lib/influxdb
	url = git@github.com:tobiasschuerg/InfluxDB-Client-for-Arduino.git
[submodule "lib/IotWebConf"]
	path = lib/IotWebConf
	url = git@github.com:prampec/IotWebConf.git
