[submodule "lib/SD_ZH03B"]
	path = lib/SD_ZH03B
	url = git@github.com:ShaggyDog18/SD_ZH03B.git
[submodule "lib/aqi"]
	path = lib/aqi
	url = git@github.com:fardog/aqi-cpp.git
[submodule "lib/influxdb"]
	path = lib/influxdb
	url = git@github.com:tobiasschuerg/InfluxDB-Client-for-Arduino.git
[submodule "lib/IotWebConf"]
	path = lib/IotWebConf
	url = git@github.com:prampec/IotWebConf.git
[submodule "lib/BME680"]
	path = lib/BME680
	url = git@github.com:SV-Zanshin/BME680.git
[submodule "lib/PMS"]
	path = lib/PMS
	url = git@github.com:fu-hsi/PMS.git
[submodule "lib/ErriezMHZ19B"]
	path = lib/ErriezMHZ19B
	url = git@github.com:Erriez/ErriezMHZ19B.git
[submodule "lib/BSEC-Arduino-library"]
	path = lib/BSEC-Arduino-library
	url = git@github.com:BoschSensortec/BSEC-Arduino-library.git
